spring:
  application:
    name: ai-agent
  profiles:
    active: local
#  datasource:
#    url: your-database-url
#    username: your-username
#    password: your-password
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  ai:
    dashscope:
      api-key: your-api-key
      chat:
        options:
          model: qwen-plus
    ollama:
      embedding:
        enabled: false
      base-url: http://localhost:11434
      chat:
        model: gemma3:1b
server:
  port: 8123
  servlet:
    context-path: /api
# springdoc-openapi 接口文档
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.ayaka.aiagent.controller
# knife4j 的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn
# searchApi
search-api:
  api-key: your-api-key